@model EmployeeForm.Core.Model.EmployeeModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <title>Adding details</title>
    <style>
        .card {
            width: 300%;
            height: 100%;
            margin-left: 130%;
            margin-top: 40%;
            background-size: cover;
        }

        form {
            text-align: justify-all;
        }

        button {
            background-color: darkblue;
            color: white;
        }

        .error {
            color: red;
        }

        #job {
            color: black;
        }
        
    </style>
</head>
@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { @id = "start" }))
{
    <section class=" bg-image"
         style="background-image: url('https://images.businessnewsdaily.com/app/uploads/2022/04/04082209/Hiring_Getty_Weedezign.jpg');width:100%;height:200%;background-size:cover;">
        <div class="mask d-flex align-items-center gradient-custom-3">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form>
                                @Html.HiddenFor(m=>m.ID)
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Name<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control",@placeholder="Enter your Name",@id="name",@name="name"})
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputPassword4" class="form-label">Age<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.age, new { @class = "form-control",@placeholder="Enter your age",@id="age",@name="age"})
                                </div>
                                <div class="col-md-6 mt-1 ">
                                    <label for="inputEmail4" class="form-label">Gender<span style="color:red">*</span></label>

                                    <div class="form-check mt-2" id="radio"> 
                                        <label> @Html.RadioButtonFor(m => m.gender,"Male")Male</label>  
                                        <label> @Html.RadioButtonFor(m => m.gender,"Female")Female</label>
                                        <label> @Html.RadioButtonFor(m => m.gender,"Other")Other</label>
                                    </div>

                                </div>

                                <div class="col-md-12 mt-1">
                                    <label for="inputPassword4" class="form-label">Qualification<span style="color:red">*</span></label>
                                    <div class="course" style="color:black;">
                                        @Html.DropDownListFor(m=>m.qualification, new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="BE"},
                                    new SelectListItem{ Text="B.Tech"},
                                    new SelectListItem{ Text="ME"},
                                    new SelectListItem{ Text="M.Tech"},
                                    new SelectListItem{ Text="MBA"},
                                    new SelectListItem{ Text="MCA"},
                                    }, "Select List")
                                        @*   //</select>*@
                                    </div>
                                </div>

                                <div class="col-md-12 mt-1">
                                    <label for="inputAddress" class="form-label">Job Role<span style="color:red">*</span></label>
                                    <div>
                                        @Html.DropDownListFor(m=>m.JobRole, new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="HR"},
                                    new SelectListItem{ Text="Developer"},
                                    new SelectListItem{ Text="Designer"},
                                    new SelectListItem{ Text="Testing"},
                                    new SelectListItem{ Text="Digital Marketing"},
                                    }, "Select Role")
                                        @*   //</select>*@
                                    </div>
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputAddress2" class="form-label">Experience<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.experience, new { @class = "form-control",@placeholder="Enter your Experience",@id="experience" })
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label">Location<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.address, new { @class = "form-control",@placeholder="Enter your Address",@id="location" })
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label">Mobile<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.PhoneNo, new {@maxlength="10" ,@class = "form-control",@placeholder="Enter your mobile number",@id="phone" })
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label">Email ID<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.email, new { @class = "form-control",@placeholder="Enter your Email",@id="email" })
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label">Password<span style="color:red">*</span></label>
                                    @Html.PasswordFor(m => m.password, new {@maxlength="5", @class = "form-control",@placeholder="Enter your Password",@type="password",@id="passtype"})
                                </div>
                                <div class="col-md-6 mt-1">
                                    <input class="pt-3" type="checkbox" onclick="mypassword()">Show Password
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label">Re-Password<span style="color:red">*</span></label>
                                    @Html.PasswordFor(m => m.Re_Password, new { @maxlength="5",@class = "form-control",@placeholder="Enter your Password again",@type="password",@id="repassword"})
                                </div>
                                <div class="col-md-6 mt-1">
                                    <input class="pt-3" type="checkbox" onclick="myrepassword()">Show Password
                                </div>
                                <div class="col-12 mt-5">
                                    <button onclick="location.href='@Url.Action("list","Employee")'">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
<script>
    $().ready(function () {

        $("#start").validate({
            rules: {

                Name: {
                    required: true,
                    lettersonly: true,
                },
                age: {
                    required: true,
                    number: true,
                },
                qualification: {
                    required: true,
                },
                JobRole: {
                    required: true,
                },
                experience: {
                    required: true,
                },

                PhoneNo: {
                    required: true,
                    number: true,
                    minlength: 10,
                },
                address: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    minlength: 5,
                    required: true,
                },
                Re_Password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#passtype" //for checking both passwords are same or not
                },
                gender: {
                    required: true,
                },
            },
            // in 'messages' user have to specify message as per rules
            messages: {
                Name: {
                    required: " Please enter a Name",
                },
                age: {
                    required: " Please enter your age",
                },
                qualification: {
                    required: "Select your qualification",
                },
                JobRole: {
                    required: "Select your Role",
                },

                experience: {
                    required: "Enter your year of experience",
                },

                PhoneNo: {
                    required: "Enter your mobile number",
                    minlenght: "Mobile number must contain 10 characters"
                },
                address: {
                    required: "Enter your location",
                },
                email: {
                    required: "Enter your email ID",
                },
                password: {
                    required: "Enter your password",
                    minlength: " Your password must be consist of at least 5 characters",
                },
                Re_Password: {
                    required: " Please enter a password",
                    minlength: " Your password must be consist of at least 5 characters",
                    equalTo: " Please enter the same password as above"
                },
                gender: {
                    required: "Select your gender",
                },

            },
            errorPlacement: function (error, element) {
              
                if(element.is(":radio")) {
                    error.insertAfter(element.parents('#radio'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }
        });
    });
    function mypassword() {
        var x = document.getElementById("passtype");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function myrepassword() {
        var x = document.getElementById("repassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    } 
   
</script>








